@{
    ViewBag.Title = "Rewards";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}

@*<h2>Rewards</h2>*@
<section class="rewards">
    <div class="row">
        <div class="large-12 alert-box success first">
            
            <span>Total</span>
            <span class="label right success">$ 250</span>            
            
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-12 large-12 panel bg-primary">        
                <span>Pagado</span>
                <span class="label right success">$ 650</span>        
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-12 large-12 panel bg-primary">
        
            <span>Pendiente</span>
            <span class="right label alert">$ 350</span>
        
        </div>
    </div>
   
    <div class="row">
        <div class="small-12 medium-6 large-6 columns panel bg-primary">
            <span>Total de referidos</span>
            <span class="right">2</span>          
        </div>
        <div class="small-12 medium-6 large-6 columns panel bg-primary">
            <span>Posibles</span>
            <span class="right">$ 350</span>           
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-12 large-12 panel bg-primary">        
                <span>Balance</span>
                <span class="label right success">$ 200</span>        
        </div>
    </div>
</section>
<script>
    $(".tab-bar .left-small .menu-icon").hide();
    $(".tab-bar .left-small .icn-arrow-left").bind("click", function (e) {
        e.preventDefault();
        window.history.back();
    });
</script>