/*Reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a:hover {
    text-decoration: none;
} 

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
    position: relative;    
}
body {
    height: 100vh;
	line-height: 1;
    font-family: 'Segoe UI', Arial, helvetica;
    background-color: #EEE;
    color: #535353;
    overflow: auto;
}
ol, ul,
ol li, ul li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Custom styles */
html {
   overflow: hidden;
}

#body {
    
}

nav.navbar {
    position: fixed;
    width: 100vw; 
    min-height: 55px; 
    margin: 0px;
    padding: 5px;  
    background-color: #FFF;
    font-family: Impact, Broadway, 'Segoe UI', sans-serif;
    z-index: 10;    
}
    
header .navbar-default .navbar-collapse {
    width: 100%;
    background-color: #FFF;
    border: 0px none;
}

header .container-fluid {
    margin: 0px;
    padding: 0px;
}

header nav .navbar-nav {
    float: right;    
    margin: 7.5px 15px;
    z-index: 100;
}

header .logo {
    display: inline-block;
    float: left;
    width: auto;
}

header .logo img {
    width: 60px;
    margin-right: 10px;
    vertical-align: middle;
}

header .logo a {    
    padding: 5px;        
    text-transform: uppercase;
    font-family: Impact, 'Segoe UI', sans-serif, Arial;
    font-size: 22px;
    color: #7E7E7E;
}

header .logo a:hover {
    color: #222;
}

footer {
    min-height: 100px;
    padding: 25px;
    background-color: #222;
    color: #FFF;
    line-height: 22px;
    word-spacing: 1px;
}

footer .row.text-wrap > div > div {
    margin-bottom: 20px;
} 

footer p {
    font-size: 12px;
    /*text-align: left;*/
}

h1, h2, h3, h4 {
    margin: 5px 0px;
    font-family: Impact, 'Segoe UI', sans-serif, Arial;
    font-weight: 500;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

#body section {
    padding: 50px 20px;
}

section {
    width: 100%;
    min-height: 100vh;
}

/***** Class - btn *****/
.btn {
    padding: 10px 20px;
    border: 2px solid #FB8132;
    background-color: transparent;
    color: #FB8132;
    font-size: 16px;
    font-weight: 700;
    border-radius: 0px;
    transition: all .3s ease-in-out;
}

.btn a {
    color: #fb8132;
}

.btn:hover,
.btn:hover a {
    background-color: #FB8132;
    color: #FFF;
}

/*Main navigation*/
#mainNavigation > ul > li {
    display: inline-block;    
    border-left: 1px solid #CCC;
    
}

#mainNavigation > ul li.last {
    margin-right: 10px;
    border-right: 1px solid #CCC;
}

#mainNavigation ul li:last-of-type {
    border: 0px none;
    vertical-align: top;
}

#mainNavigation ul li a {
    padding: 10px 5px;
    color: #7E7E7E;
    font-size: 18px;    
}

#mainNavigation ul li a:hover {
    color: #222;
}

#mainNavigation .nav-login a {
    display: inline-block;
    float:left;
}

#mainNavigation .nav-login a:first-child {
    padding-right: 0px;
}

/* Maps*/

.map-canvas-office {
    display: block;
    position: relative;
    width: 100%;
    height: 200px;
    margin: 20px 0px;
    /*-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;*/
}