/********** LOADING ***********/
.backdrop {
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    color: #FFF;
    z-index: 100;
}

.loading-container {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  z-index: 1100;
}

.loading-content {
    width: 65px;
    height: 65px;
    margin: 0px auto;
    background-image: url("/Images/loading-sm.gif");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.loading-content-lg {
    position: fixed;
    top: 30%;
    left: 40%;
    width: 120px;
    height: 120px;
    margin: 0px auto;
    background-image: url("/Images/loading-lg.gif");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

/********** VALIDATIONS ***********/
    /***** Class - error, required *****/
.error {
    color: #FF0000;
}

label.error {
    margin: 5px 0px;
}
    select.error,
    textarea.error,
    input.required,
    input.error,
    input.input-validation-error,
    .input-validation-error {
        background-color: #FFDADA; 
        border: 0px none;
        box-shadow: 0px 0px 4px 0px #FF0000;
    }

    /***** Class - valid  *****/
    input.valid,
    input.success,
    .valid, .success {
        background-color: #E7fCE5;
    }

input.required::-webkit-input-placeholder,
input.error::-webkit-input-placehold,
input.input-validation-error::-webkit-input-placeholder,
input.required::-moz-placeholder,
input.error::-moz-placeholder,
input.input-validation-error::-moz-placeholder,
input.required:-ms-input-placeholder,
input.error:-ms-input-placeholder,
input.input-validation-error:-ms-input-placeholder {
    color: rgb(255, 255, 255);
}

/* Section - main-slider */
#body section.main-slider {
    height: 100vh;
    padding: 0px;
    background: url("/Images/bg-solarHome.gif") no-repeat center top fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.main-slider .main-logo img {
    width: 100%;    
}

section.main-slider .main-logo {
    position: absolute;
    margin: 200px 40%;
}

section.main-slider .main-logo h1 {
    font-family: Broadway;
    font-size: 50px;
    font-weight: 700;
    color: #FFF;
}

/* Section - box-menu */
section.box-menu{
    position: relative;    
    /*width: 100vw;*/
    height: 100%; 
    background-color: #EEE;    
}

section.box-menu .thumbnail {
    display: inline-block;
    width: 100%;
    padding: 25px;    
    cursor: pointer;
}

section.box-menu .thumbnail .caption {
    display: inline-block;
    float: left;
    min-width: 150px;
    max-width: 70%;
    height: 270px;
    padding: 40px 0px;
    text-align: left;
    color: #7E7E7E;    
}

section.box-menu .thumbnail:hover .caption{
    color: #323232;
}

section.box-menu .thumbnail .caption h2 {
    padding-bottom: 10px;
    text-align: left;
    border-bottom: 1px solid #CCC;
    line-height: 40px;
}

section.box-menu .thumbnail img {
    display: inline-block;
    float: right;
    width: 25%;
    margin: 40px 0px;
}

/***** Class - contact *****/
section.contact h1 {
    margin: 15px 0px;
}

section.contact form p {
    margin-bottom: 15px;
}

section.contact form p label {
    margin-bottom: 10px;
}

section.contact form p textarea {
    max-width: 100%;
    height: 100px;
    max-height: 150px;
}

/* Filter - sepia */
.sepia-filter {
  -moz-filter: sepia(100%); 
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
}

.grayscale-filter {
    -moz-filter: grayscale();
    -webkit-filter: grayscale();
    filter: grayscale();
}

.dark-filter {
    /*width: 100vw;*/
    height: 100vh;
    background-color: #000;
    opacity: .2;
}

.contrast-filter {
    -moz-filter: contrast(2);
    -webkit-filter: contrast(2);
    filter: contrast(2);
}

.blur-filter {
    -moz-filter: blur(3px);
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

[class*="filter"]:hover {
    -moz-filter: none;
    -webkit-filter: none;
    filter: none;
}

.basic-gradient {
    height: 100%;
    background: rgb(250,66,65); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(250,66,65,.8) 0%, rgba(255,255,0,.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(250,66,65,.8)), color-stop(100%,rgba(255,255,0,.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(250,66,65,.8) 0%,rgba(255,255,0,.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(250,66,65,.8) 0%,rgba(255,255,0,.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(250,66,65,.8) 0%,rgba(255,255,0,.8) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(250,66,65,.8) 0%,rgba(255,255,0,.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa4241', endColorstr='#ffff00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.text-wrap {
    margin-bottom: 25px;
}

.text-wrap h3 {
    display: inline-block;
    margin-bottom: 15px;
}

.text-wrap h4 {
    /*display: inline-block;*/
    border-bottom: 1px solid #DDD;
    text-align: left;
    letter-spacing: 1px;
}


/***** Class - message *****/
html body .message-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

html body .message-container .backdrop {
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #FFF;
    z-index: 100;
    opacity: .7;
}

html body .message-container .message-content {
    position: absolute;
    top: 33%;
    width: 100%;
    margin: 0px auto;
    text-align: center;
}

html body .message-container .message-content h1 {
    color: #FFF;
    line-height: 26px;
}

html body .message-container .message-content.error h1 {
    color: #FF0000;
}

/***** Class - box-info *****/
.box-info {
    position: relative;
    margin-top: -129px;    
    padding: 20px;
    background-color: #EEE;
    text-align: center;
    color: #7E7E7E;
}

.box-info > p {
    font-size: 30px;
    font-weight: 700;
}


/****** Class - nav-horizontal *****/
nav .nav-horizontal {
    display: inline-block;
    float: left;
}

nav .nav-horizontal a {
    color: #FFA500;
}

nav .nav-horizontal li {    
    float: left;
    margin: 0px 15px;
    list-style-type: square;
}


/***** Class - social-links *****/
.social-links {
    margin-top: 2px;
}

.social-links li {
    display: inline-block;
}

.social-links a {
    display: block;
    margin: 5px 2px;
    background-image: url("/Images/iconsheet-social-links.png");
}

.social-links .facebook-social-link a {    
    background-position: -20px -20px;
    width: 60px;
    height: 60px;
}

.social-links .facebook-social-link-sm a {
    background-position: -35px -110px;
    width: 24px;
    height: 24px;
}

.social-links .instagram-social-link a {
    background-position: -220px -20px;
    width: 60px;
    height: 60px;
}

.social-links .instagram-social-link-sm a {
    background-position: -235px -110px;
    width: 24px;
    height: 24px;
}

.social-links .twitter-social-link a {
    background-position: -120px -20px;
    width: 60px;
    height: 60px;
}

.social-links .twitter-social-link-sm a {
    background-position: -135px -110px;
    width: 24px;
    height: 24px;
}

.social-links .youtube-social-link a {
    background-position: -320px -20px;
    width: 60px;
    height: 60px;
}

.social-links .youtube-social-link-sm a {
    background-position: -335px -110px;
    width: 24px;
    height: 24px;
}

footer .social-links {
    display: inline-block;
    position: relative;
    float: left;
    margin: 0px;
}

footer .social-links a {
    margin: 0px;
}

/************ media queries *************/
@media screen and (max-width: 767px) {
    header nav .navbar-nav {
        float: none;
        width: 100%;
        text-align: center;
    }

    #mainNavigation .nav-login a {
        float: none;
    }
}

@media screen and (max-width: 640px) {
    .navbar-nav {
        margin: 5px 0px;
    }
    
    #mainNavigation {
        padding: 0px;
    }

    #mainNavigation > ul > li {
        display: block;
        border: 0px none;
        border-top: 1px solid #CCC;
    }

    #mainNavigation > ul li.last {
        margin: 0px;
        border: 0px none;
        border-top: 1px solid #CCC;
    }

    #mainNavigation > ul > li:last-of-type {
        border-top: 1px solid #CCC;
    }
}