@{
    ViewBag.Title = "Home Page";
}

    <section class="main-slider">
            
        <div class="main-logo">
            <img src="/Images/logo-lg-white.png" alt="Gosolar mexico logo" />
            <img src="/Images/slogan-lg-white.png" alt="Gosolar mexico slogan" />
            @*<h1>GOSOLAR MÉXICO!</h1>            *@
        </div>        
        <div class="basic-gradient"></div>
    </section>
    <section class="container-fluid box-menu">
        <div class="row">
            <div class="col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-12 col-md-10 col-lg-10">
                <div class="bg-primary box-info">
                    <h1>Paneles solares que revolucionan la energia</h1>
                    @*<p>Sabias que en Mexico existen mas de 38.8 Millones de usuarios de la CFE donde casi el 90% son usuarios residenciales. el 9% son PyMES y el 1% Grandes Empresas.</p>*@
                </div>  
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <figure class="thumbnail grayscale-filter">                    
                    <figcaption class="caption">
                        <h2>Paneles solares, ¿Cuanto cuestan?</h2>
                        <h4>El costo depende de la energía que consumas en tu hogar...</h4>
                    </figcaption>
                    <img src="/Images/icn-solarenergy.png" alt="Solar Energy" />
                </figure>
                
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <figure class="thumbnail grayscale-filter">                    
                    <figcaption class="caption">
                        <h2>Como funcionan los paneles solares?</h2>
                        <h4>Los paneles fotovoltaicos solo requieren luz del sol...</h4>
                    </figcaption>
                    <img src="/Images/icn-cycleenergy.png" alt="Cycle Energy" />
                </figure>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <figure class="thumbnail grayscale-filter">                    
                    <figcaption class="caption">
                        <h2>Cambiemos a Mexico y el mundo</h2>
                        <h4>La energía solar es un buen negocio, aprovéchalo aquí te decimos como...</h4>
                    </figcaption>
                    <img src="/Images/icn-energy.png" alt="Energy" />
                </figure>
            </div>
        </div>
    </section>
    
    @Html.Partial("~/Views/Partials/_Contact.cshtml")