<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ModelGoSolar.Properties.Settings.GoSolarMexicoConnectionString"
            connectionString="Data Source=(local);Initial Catalog=GoSolarMexico;Persist Security Info=True;User ID=sa;Password=k4w2015"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>